[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/philsquared/Catch.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
